.App {
  text-align: center;
}

 .App li {
  list-style:none;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  margin-top:3px;
  border: solid 1px #eee;
  padding:3px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
